{% load staticfiles %}
{% load getattr %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Smog Tracker</title>

        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
        <link rel="stylesheet" href="{% static 'styles/basic.css' %}">
        <link rel="stylesheet" href="{% static 'styles/list.css' %}">

		<link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap-theme.min.css' %}" crossorigin="anonymous">
        <script src="{% static 'js/jquery-3.1.1.js' %}" crossorigin="anonymous"></script>
		<script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}" crossorigin="anonymous"></script>
    </head>

    <body>
    <div class="jumbotron">
        <h1>Smog Tracker</h1>
        <p>Simple automated smog data aggregator.</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="dropdown">
                <button id="dropdownMenu1" href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rodzaj: {{ selected }} <span class="caret"></span></button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    {% for entry in params %}
                        <li value="{{ entry.name }}" {% if entry.name == selected %} class="active" {% endif %}><a href="/?p={{ entry.name }}">{{ entry.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <button class="btn btn-default" role="button">Miejsce: Kraków<span class="caret"></span></button>
            <button class="btn btn-default" role="button">Data: 2016-12-23<span class="caret"></span></button>
            <button class="btn btn-default" role="button">Pobierz teraz</button>
        </div>
        <div class="col-md-6"></div>
    </div>
{% if data %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Czas pomiaru</th>
                {% for st in stations %}
	               <th>{{ st.name }}</th>
	            {% endfor %}
            </tr>
        </thead>
    {% for entry in data %}
        <tbody>
	        <tr>
	            <td>{{ entry.date }}</td>
	            {% for st in stations %}
	               <td class="measurement">
	               {% with entry|getattr:st.name as val %}     
		               {% if val != None %}
	                       {{ val }} [µg]
		               {% else %}
		                   - 
		               {% endif %}
		               </td>
	               {% endwith %}
	            {% endfor %}
	         </tr>
         </tbody>
    {% endfor %}
    </table>
{% else %}
    <p>Brak dostępnych pomiarów.</p>
{% endif %}
    </body>
</html>